{% extends 'base.html' %}

{% block content %}
<h2>Meal Plan for {{ mealplan.child.name }} (Starting {{ mealplan.week_start_date }})</h2>

<table border="1" cellpadding="5">
  <thead>
    <tr>
      <th>Day of Week (0=Mon)</th>
      <th>Meal Type</th>
      <th>Meal Name</th>
      <th>Allergy Alert</th>
    </tr>
  </thead>
  <tbody>
    {% for meal in planned_meals %}
    <tr>
      <td>{{ meal.day_of_week }}</td>
      <td>{{ meal.get_meal_type_display }}</td>
      <td>{{ meal.meal.name }}</td>
      <td>
        {% if meal_alerts.meal.id %}
          ⚠️ Allergens: {{ meal_alerts.meal.id|join:", " }}
        {% else %}
          Safe
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<style>
  #sidebar {
    width: 250px;
    height: 100%;
    background-color: #2f4f4f;
    padding: 30px;
    color: white;
    position: fixed;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  #sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
  }

</style>
{% endblock %}
